@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #CBE4DE;
}

.navbar {
    backdrop-filter: blur(10px);
    height: 70px;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin: 0 30px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}

.navbar nav ul li a:hover {
    color: #FF4500;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.main-body section {
    width: 50%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    width: 100%;
    height: 100vh;
    justify-content: start;
    padding-left: 200px;
    background-color: #CBE4DE;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.title p {
    font-size: 50px;
    font-weight: 900;
    font-family: Courier;
    color: #323232;
}

#dec-1 {
    color: #FF4500;
    font-size: 60px;
    font-family: Courier;

}

#dec-2 {
    font-size: 60px;
    font-family: Courier;

}

#about {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #2E4F4F;
    color: #CBE4DE;
    height: fit-content;
    align-items: center;
    padding: 80px 15px;
}

#about h1 {
    color: #FF4500;
    padding: 0 40px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: Courier;
}

#about p {
    padding: 0 40px;
    font-weight: 550;
    text-align: center;
}


#timeline {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#timeline>h1 {
    font-size: 30px;
    font-family: Courier;
    color: #FF4500;
    padding-top: 150px;
}

#year {
    padding-top: 50px;
}

.yr {
    font-size: 20px;
    position: relative;
    right: 0;
    color: #0E8388;
}

.cmp {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

.year-container {
    background-color: #2E4F4F;
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
}

.year-container-sp {
    background-color: #2E4F4F;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
    border-radius: 18px;
}

.year-container-sp div h1,
.year-container div h1 {
    padding-bottom: 5px;
    color: #CBE4DE;
}

.year-container-sp div p,
.year-container div p {
    color: #CBE4DE;
    font-style: italic;
    font-size: medium;
}

.year-circle {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: #2C3333;
    align-items: center;
    justify-content: center;
}

.year-circle-sp {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    background-color: #2E4F4F;
    align-items: center;
    justify-content: center;
}



#projects>h1 {
    color: #FF4500;
    padding: 0 40px;
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: Courier;
}


#contact {
    display: flex;
    flex-direction: column;
}

#contact>h1 {
    color: #FF4500;
    padding: 0 40px;
    padding-top: 150px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: Courier;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    background-color: #085B5D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2E4F4F;
}